<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<body>
{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block content %}

        <div id="title1"><center>Sign Up</center></div>
    <form method="post" action="">{% csrf_token %}
        <table>
       <div class="form-group">

            <tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr></div>
    <div class="form-group">

           <tr><td><label for="id_email">Email-ID:</label></td><td>{{ form.email }}</td></tr></div>
          <div class="form-group">
            <tr><td> <label for="id_password1">Password:</label></td><td>{{ form.password1 }}</td></tr>
              </div>
          <div class="form-group">
            <tr><td> <label for="id_password2">Repeat Password:</label></td><td>{{ form.password2 }}</td></tr>
              </div>
             </table>

        <button type="submit" class="btn btn-default" style="background-color: #888888;"><font size="5px">Register</font></button>


    </form>
{% endblock %}
</body>
</html>