{% extends 'base.html' %}
{% block content %}
    <div class="panel panel-default">
    <div class="panel-body"> <font size="5px">What is SCRIBBLE?</font></div>
    <font size="3px">Have you ever wondered about writing something new that you got to know, something you are passionate about and you want the world to know. Well, you are at the right place. SCRIBBLE is a blogging website.
        It is a place where you can write your heart out. You can create your own blog, and add posts. You can discover posts of different people all around. Also you can edit your posts and if you don't like them you can just simply delete them. So what are you waiting for. scribble away.</font>
  </div>
{% endblock %}